# Copyright 2020, Data61, CSIRO (ABN 41 687 119 230)
#
# SPDX-License-Identifier: BSD-2-Clause

/*.parse
/*.parse.x
/*.dot
/*.png
/*.xml
/*.thy
/*-OK

.cabal-sandbox
cabal.sandbox.config
dist
parse-capDL
stack.yaml.lock